<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEASON ITEM GUIDE</title>
 	<link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main-event.css">   
</head>
<body>
<div class="main-box ">
    <!-- 헤더부분 -->
    <th:block th:replace="fragment/header"></th:block>    

    <main>
        <div class="content">
            <div>
                <div class="name">SEASON ITEM GUIDE</div>
                <div class="date">2022.09.03</div>
                <div class="inner-contents event2">
                    <img src="/static/image/main/season/season01.jpg">
                    <p class="br"></p>
                    <h2 class="h2">SEASON ITEM GUIDE</h2>
                    <p class="br"></p>
                    <sub>하루에도 몇 번씩 체감 온도가 변하는 요즘.</sub>
                    <br>
                    <sub>웍스아웃의 활용도 높은 간절기 아이템을 소개합니다.</sub>
                    <p class="br"></p>
                    <img src="/static/image/main/season/season02.jpg">
                    <p class="br"></p>
                    <p class="br"></p>
                    <img src="/static/image/main/season/season03.jpg">
                </div>
            </div>
        </div>     
    </main>

    <!-- footer부분 -->
    <th:block th:replace="fragment/footer"></th:block>
</div>    
    <!-- <script src="/static/js/main.js"></script> -->
</body>
</html>