<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deus Ex Machina X Helinox Launching Event</title>
 	<link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main-event.css">   
</head>
<body>
<div class="main-box ">
    <!-- 헤더부분 -->
    <th:block th:replace="fragment/header"></th:block>    

    <main>
        <div class="content">
            <div>
                <div class="name">Deus Ex Machina X Helinox Launching Event</div>
                <div class="date">2022.09.20</div>
                <div class="inner-contents">
                    <img src="/static/image/main/deus/deus01.jpg">
                    <p class="br"></p>
                    <p class="br"></p>
                    <h3 class="text-contents">
                        <strong>Deus Ex Machina X Helinox</strong>
                        <span class="inner-content-span">발매 기념 데우스 영상 상영회 초청 이벤트</span>
                        <br>
                        <strong>"The Desert Said Dance Film Premiere"</strong>
                        <br>
                        <sub>데우스 헬리녹스의 협업 발매를 기념하여 런칭 행사와 데우스 영상 상영회를 진행합니다.</sub>
                        <sub>이번 상영회는 데우스 X 헬리녹스 협업 제품을 활용하여 데우스 홍대 스토어 야외 주차장에서 진행되며,</sub>
                        <sub>데우스 카페에서 준비한 음료와 음식이 함께 제공되는 자리로 추첨을 통하여 총 다섯 분을 초정합니다. (동반 1인 가능)</sub>
                        <sub>데우스 헬리녹스 협업 제품도 경험해 보시고 데우스 카페에서 준비한 음식과 다양한 행사에도 참여해 보세요.</sub>
                        <br>
                        <sub>총 다섯 분을 추첨하여 한정 제작된 데우스 X 헬리녹스 티셔츠와 다이넥스 컵을 증정하며 데우스 X 헬리녹스 제품 선구매 혜택을 드립니다.</sub>    
                        <sub><br><br></sub>
                        <sub>일시 : 9월 21일 수요일 오후 7시</sub>   
                        <sub>장소 : 데우스 엑스 마키나 홍대 스토어 야외 주차장 (서울시 마포구 와우산로 17길 19-12)</sub>
                        <sub><br><br></sub>
                        <sub>- 데우스 X 헬리녹스 콜라보레이션 기념 티셔츠 & 다이넥스 컵 증정</sub>
                        <sub>- 데우스 X 헬리녹스 콜라보레이션 제품 선구매 혜택</sub>
                        <sub>*당첨자에게만 증정 및 선구매 혜택이 적용됩니다. 동반인에게는 지급되지 않습니다.</sub>
                        <sub><br><br></sub>
                        <sub>응모 기간 : 9월 19일(월) ~ 9월 20일(화) 오후 2시까지</sub>
                        <sub>당첨자 발표 : 9월 20일(화) 오후 4시</sub>
                        <sub>응모 방법 : 웍스아웃 인스타그램 포스팅 참조</sub>
                        <br><br> 
                    </h3>
                    <p class="br"></p>
                    <p class="br"></p>
                    <img src="/static/image/main/deus/deus02.jpg">
                </div>
            </div>
        </div>     
    </main>

    <!-- footer부분 -->
    <th:block th:replace="fragment/footer"></th:block>
</div>
    <!-- <script src="/static/js/main.js"></script> -->
</body>
</html>