<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/css/fragment/header-footer.css">
<script src="https://kit.fontawesome.com/ede2458143.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<header class="header-z-index">
                <div class="header">
                    <div class="main-container-header">
                        <div class="header-section selection-line">
                            <div class="header-section-start">
                                <a href="/entry" class="entry-page">응모</a>
                                <a href="https://www.worksout.co.kr/store/worksout" class="store-info">매장 정보</a>
                                
                            </div>
                            <div class="header-section-mid">
                                <a class = "main-logo-image">WORKSOUT</a>
                            </div>
                            <div class="header-section-end">
                                <div class="header-section-end-buttons">
                                   <p><img src="/static/image/icons/magnifying-glass-solid.svg" alt="">검색</p>
                                    <p class="">관심상품</p>
                                    <p class="cart-page">장바구니</p>
                                    <div class="auth-items">
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-gender-etc-category selection-line">
                            <div class="gender-etc-category button-set">
                                <button class = "gender-male">남성</button>
                            </div>
                            <div class="gender-etc-category">
                                <button class = "gender-female">여성</button>
                            </div>
                            <div class="gender-etc-category">
                                <button class = "gender-etc">생활</button>
                            </div>
                            <div class="gender-etc-category">
                                <button>세일</button>
                            </div>
                            <div class="gender-etc-category">
                                <button>브랜드</button>
                            </div>
                        </div>
                        <!-- hidden menu -->
                        <div class="hidden-category-menu">
                            <div class="brand-category-menu">
                                <div>
                                    <div class="focus-brand"><i class="fa-solid fa-bookmark"></i><span>포커스브랜드</span></div>
                                    <div class="focus-brand-items"><i class="fa-solid fa-bookmark"></i><span>focus brand items</span></div>
                                    <div class="focus-brand-items"><i class="fa-solid fa-bookmark"></i><span>focus brand items</span></div>
                                    <div class="focus-brand-items"><i class="fa-solid fa-bookmark"></i><span>focus brand items</span></div>
                                    <div class="focus-brand-items"><i class="fa-solid fa-bookmark"></i><span>focus brand items</span></div>
                                    <div class="focus-brand-items"><i class="fa-solid fa-bookmark"></i><span>focus brand items</span></div>
                                    <div class="focus-brand-items"><i class="fa-solid fa-bookmark"></i><span>focus brand items</span></div>
                                    <div class="focus-brand-items"><i class="fa-solid fa-bookmark"></i><span>focus brand items</span></div>
                                </div>
                                <div class="header-categories">
                                    <div class="header-new-product">신상품</div>
                                    <div class="underline"></div>
                                    <h1 class="header-category-category">카테고리</h1>
                                    <div class="all-categories">
                                        <div class="category-items">상의</div>
                                        <div class="category-items">하의</div>
                                        <div class="category-items">신발</div>
                                        <div class="category-items">가방</div>
                                        <div class="category-items">악세사리</div>
                                    </div>
                                </div>
                                <div class="brands">   
                                    <div class="brand-div">브랜드</div>
                                    <div class="all-brands">
                                        <div class="brand-section01">
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 001</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 002</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 003</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 004</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 005</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 006</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 007</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 008</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 009</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 010</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 011</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 012</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 013</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 014</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 015</span></div>
                                        </div>
                                        <div class="brand-section02">
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 016</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 017</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 018</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 019</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 020</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 021</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 022</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 023</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 024</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 025</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 026</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 027</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 028</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 029</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 030</span></div>
                                        </div>
                                        <div class="brand-section03">
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 031</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 032</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 033</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 034</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 035</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 036</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 037</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 038</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 039</span></div>
                                            <div class="brand-items"><i class="fa-regular fa-bookmark" style="color: #d1d1d1;"></i><span>brand 040</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </header>
    <script src="/static/js/fragment/header.js"></script>
</html>