*{
    box-sizing: border-box;

    padding: 0px;
    margin: 0px;

    font-size: 12px;
    color: #1f2937;

}

.main-box {
	min-height: 100%;
	position: relative;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
    background-color: #fff;
}

body{
	min-height: 100vh;
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

main {
	padding-top: 98px;
}

img {
	cursor: pointer;
}