table {
    border: 1px solid #141414;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #141414;
    padding: 10px;
    text-align: center;
}

.admin-contents {
    display: flex;
}

.admin-user-info{
    display: flex;
    justify-content: center;
    width: 1560px;
}

.admin-user-info-table {

}