<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/644e1d23ae.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>웍스아웃</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/cssfragment/header-footer.css">
    <link rel="stylesheet" href="/static/css/items-category-page.css">
    
</head>

<body>
<div class="main-box ">
    <div class="__next">
        <div class="all-container">

            <th:block th:replace="fragment/header"></th:block>


            <!-- 메인부분 -->
            <main class="main-container">
                <div class="main-div">
                    <div class="header-category">
                        <h5 class="new-product">신상품</h5>
                        <div class="header-category-list">
                            <button>
                                <p>상의</p>
                            </button>
                            <button>
                                <p>하의</p>
                            </button>
                            <button>
                                <p>신발</p>
                            </button>
                            <button>
                                <p>가방</p>
                            </button>
                            <button>
                                <p>악세사리</p>
                            </button>
                        </div>
                    </div>
                    <div class="selection-line"></div>
                    <div>
                        <div class="place-content-center"></div>
                        <div class="items-sort">
                            <div class="items-sort-contents">
                                <div class="sort-content1">
                                    <div class="filter-buttons">
                                        <button class="filter-button">필터▽</button>
                                        <div class="sort-checkboxes">
                                            <div class="sort-check1">
                                                <div class="sales">세일상품 보기</div>
                                                <input type="checkbox" id="checkbox1">
                                            </div>
                                            <div class="sort-check2">
<!--                                                 <div class="soldout">품절상품 제거</div> -->
                                                <label for="checkbox2" class = "soledout">품절상품 제거&nbsp&nbsp</label>
                                                <input type="checkbox" id="checkbox2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sort-content2">
                                    <select id="select-current-price">
                                        <option value="">최신순</option>
                                        <option value="">가격 낮은 순</option>
                                        <option value="">가격 높은 순</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infinite-scroll">
                    <div class="infinite-scroll-component__outerdiv">
                        <div class="infinite-scroll-component">
                            <div class="filters hidden">
                            <!-- <div class="filters"> -->
                                <div class="filter">
                                    <div class="filter-lists">
                                        <div class="filter-list">
                                            브랜드
                                        </div>
                                        <div>
                                            ▽
                                        </div>
                                    </div>
                                    <div class="filter-lists">
                                        <div class="filter-list">
                                            사이즈
                                        </div>
                                        <div>
                                            ▽
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="loaded-items">
                                <div class="items">
                                    <div class="item">
                                        <img src="/static/image/남자/01 상의/EL22FWTSLS00221001-1.JPG" alt="">
                                    </div>
                                    <div>
                                        <p>AAUXX</p>
                                        <p>WORKSOUT X IRING ORIGINAL</p>
                                        <div>
                                            15,000원
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <th:block th:replace="fragment/footer"></th:block>
        </div>

    </div>
    <script src="/static/js/category/item-category-page-m.js"></script>
</div>
</body>

</html>