<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/644e1d23ae.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src = "https://code.jquery.com/jquery-latest.min.js"></script>
    <title>웍스아웃</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/admin-inquiry-page.css">
</head>

<body>
<div class="main-box ">
    <div class="__next">
        <div class="all-container">

            <!-- header 부분  -->
            <th:block th:replace="fragment/header"></th:block>

            <main class="main-container">
                <div class="header-name">문의게시글</div>
                <div class="inquiry-select-container">
                    <select class="search-select">
                    	<option value="" disabled selected hidden>유형을 선택해주세요</option>
                        <option value="ONLINESTORE">온라인스토어</option>
                        <option value="MARKETING">마케팅</option>
                        <option value="PARTNERSHIP">파트너쉽</option>
                        <option value="RECRUITING">구인공고</option>
                    </select>
                    <button class="kind-search-button" type="button">검색</button>
                </div>

                <div class="main-div">
                    <div class="admin-category">
                        <div>
                            <div class="admin-category-menu">유저정보</div>
                            <div class="admin-category-menu">상품리스트</div>
                            <div class="admin-category-menu">상품등록</div>
                            <div class="admin-category-underbar-menu">문의게시글</div>
                        </div>
                    </div>
                    <div class="admin-contents">
                        <table>
	                        <thead>
	                            <tr class="inquiry-header">
	                                <th class="inquiry-header-box">글번호</th>
	                                <th class="inquiry-header-box">종류</th>
	                                <th class="inquiry-header-box">작성자</th>
	                                <th class="inquiry-header-box">이메일</th>
	                                <th class="inquiry-header-box2">글제목</th>
	                                <th class="inquiry-header-box">작성일</th>
	                            </tr>
                            </thead>
                            <tbody>
	                            
                           </tbody>
                        </table>
                        <div class="page-buttons">
                            <button type="button" class="page-button pre">&lt;</button>
                            <button type="button" class="page-button">1</button>
                            <button type="button" class="page-button">2</button>
                            <button type="button" class="page-button">3</button>
                            <button type="button" class="page-button">4</button>
                            <button type="button" class="page-button">5</button>
                            <button type="button" class="page-button next">&gt;</button>
                        </div>
                    </div>
                </div>
            </main>
            
            <!-- footer부분 -->
            <th:block th:replace="fragment/footer"></th:block>
        
        </div>

    </div>
</div>
    
    <script src="/static/js/product/product.js"></script>
    <script src="/static/js/admin-inquiry-page.js"></script>
    <script src="/static/js/product/product.js"></script>

</body>

</html>