<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/admin-inquiry-detail-page.css">
    <script type="text/javascript" src = "https://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>
</head>
<body>
<div class="main-box ">
<th:block th:replace="fragment/header"></th:block>
    <main>
        <article>
            <section class="inquiry-detail-header">
                <h1 class="inquiry-title">제목 테스트</h1>
                <div class="inquiry-detail-description">
                	<h3>종류: 마케팅</h3>
                    <h3>작성자: 홍길동</h3>
                    <h3>이메일: aaa@naver.com</h3>
                    <h3>작성일: 2022-00-00 00:00:00</h3>
                </div>
            </section>
            <section class="inquiry-content">
                <p>문의하기 내용 테스트 입니다.</p>
            </section>
            <section class="inquiry-files">
                <h3>첨부파일: </h3>
                <a href="#">test.jpg</a> / <a href="#">test.jpg</a> / <a href="#">test.jpg</a> 
            </section>

            <div class="inquiry-detail-buttons">
                <div class="page-buttons">
                    <button class="pre-button" type="button">이전</button>
                    <button class="next-button" type="button">다음</button>
                </div>
                <div>
                    <button type="button">답장</button>
                    <button type="button">삭제</button>
                    <button class = "list-button" type="button">목록</button>
                </div>
            </div>
        </article>
         <!-- footer부분 -->
	<th:block th:replace="fragment/footer"></th:block>
    </main>
</div>

    <script src="/static/js/admin-inquiry-detail-page.js"></script>
</body>
</html>