<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/cart.css">
    <script type="text/javascript" src = "https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/ede2458143.js"></script>
</head>
<body>
	<div class="main-box">
	<th:block th:replace="fragment/header"></th:block>
    <main>
        <div class="cart">
            <div class="cart-group">
                <div class="cart-group-header">
                    <p>장바구니</p>
                    <p class="items-delete">선택상품 삭제</p>
                </div>
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th class="th-checkbox"><input type="checkbox" class="cart-all-checkbox" checked="1"></th>
                            <th>상품정보</th>
                            <th>수량</th>
                            <th>가격</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
<!--                         <tr> -->
<!--                             <td class="td-checkbox"><input type="checkbox"></td> -->
<!--                             <td class="td-items-info"> -->
<!--                                <div><img src="https://media.worksout.co.kr/resized/live/L1224SLFOT00346020/L1224SLFOT00346020-1.JPG" alt=""></div> -->
<!--                                 <div class="items-info-content">  -->
<!--                                   <p>10279 VOLKSWAGEN T2 CAMPER VAN</p>  -->
<!--                                    <p>LEGO</p>  -->
<!--                                      <p>사이즈: OS</p>  -->
<!--                                </div> -->
<!--                             </td> -->
<!--                             <td> -->
<!--                                 <div class="td-quantity-button"> -->
<!--                                     <button type="button"  class="minus">-</button> -->
<!--                                     <p class="amount">1</p> -->
<!--                                     <button type="button" class="plus">+</button> -->
<!--                                 </div> -->
<!--                             </td> -->
<!--                             <td class="td-price">219900</td> -->
<!--                             <td class="td-trash"><i class="fa-solid fa-trash-can"></i></td> -->
<!--                         </tr> <tr> -->
<!--                             <td class="td-checkbox"><input type="checkbox"></td> -->
<!--                             <td class="td-items-info"> -->
<!--                                 <div><img src="https://media.worksout.co.kr/resized/live/L1224SLFOT00346020/L1224SLFOT00346020-1.JPG" alt=""></div> -->
<!--                                 <div class="items-info-content"> -->
<!--                                     <p>10279 VOLKSWAGEN T2 CAMPER VAN</p> -->
<!--                                     <p>LEGO</p> -->
<!--                                     <p>사이즈: OS</p> -->
<!--                                 </div> -->
<!--                             </td> -->
<!--                             <td> -->
<!--                                 <div class="td-quantity-button"> -->
<!--                                     <button type="button"  class="minus">-</button> -->
<!--                                     <p>1</p> -->
<!--                                     <button type="button" class="plus">+</button> -->
<!--                                 </div> -->
<!--                             </td> -->
<!--                             <td class="td-price">219,900원</td> -->
<!--                             <td class="td-trash"><i class="fa-solid fa-trash-can"></i></td> -->
<!--                         </tr> <tr> -->
<!--                             <td class="td-checkbox"><input type="checkbox"></td> -->
<!--                             <td class="td-items-info"> -->
<!--                                 <div><img src="https://media.worksout.co.kr/resized/live/L1224SLFOT00346020/L1224SLFOT00346020-1.JPG" alt=""></div> -->
<!--                                 <div class="items-info-content"> -->
<!--                                     <p>10279 VOLKSWAGEN T2 CAMPER VAN</p> -->
<!--                                     <p>LEGO</p> -->
<!--                                     <p>사이즈: OS</p> -->
<!--                                 </div> -->
<!--                             </td> -->
<!--                             <td> -->
<!--                                 <div class="td-quantity-button"> -->
<!--                                     <button>-</button> -->
<!--                                     <p>1</p> -->
<!--                                     <button>+</button> -->
<!--                                 </div> -->
<!--                             </td> -->
<!--                             <td class="td-price">219,900원</td> -->
<!--                             <td class="td-trash"><i class="fa-solid fa-trash-can"></i></td> -->
<!--                         </tr> -->
                    </tbody>
                </table>
            </div>

            <div class="order-info">
                <h5>주문정보</h5>
                <div>
                    <div class="total-order">
                        <p>총 주문 금액</p>
                        <p class="total-order-price">0원</p>
                    </div>
                    <div class="total-shipping">
                        <p>총 배송비</p>
                        <p>0원</p>
                    </div>
                    <div class="box-line"></div>
                </div>
                <div class="total-price-info">
                    <div class="total-price">
                        <p>총 결제 금액</p>
                        <p class="total-payment-price">0원</p>
                    </div> 
                </div>              
                <button type="button" class="nonmember-purchase-button">비회원 구매</button> 
                <button type="button" class="member-purchase-button">회원 구매</button> 
            </div>
        </div>
    </main>
    <!-- footer부분 -->
    <th:block th:replace="fragment/footer"></th:block>
    </div>
    <script src="/static/js/cart.js"></script>
</body>
</html>