<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>entry</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/entry.css">
    <script type="text/javascript" src = "https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/ede2458143.js"></script>
</head>
<body>
<div class="main-box ">
	<!-- 헤더부분 -->
        <th:block th:replace="fragment/header"></th:block>
    <main>
        <div class="entry-group">
            <div class="entry-img">
                <img src="https://media.worksout.co.kr/uploads/live/u857f1wi26w6.jpg" alt="나이키 X 스투시 에어맥스">
            </div>
            <div class="entry-info">
                <h1>나이키 X 스투시 에어 맥스 2013 블랙 화이트 블랙</h1>
                <div class="entry-info-text">
                    <p>응모상품은 APP에서 진행이 가능합니다. 아래 버튼을 눌러 앱을 다운 받아주세요</p>
                    <span>* 해당 제품은 이해를 돕기 위한 제품이며, 현재 응모 예정이거나 마감되었을 수 있습니다.</span>
                </div>
                <div class="entry-button-group">
                    <button type="button" class="app-button"><i class="fa-brands fa-apple"></i>&nbsp; App Store</button>
                    <button type="button" class="google-button"><i class="fa-brands fa-google-play"></i>&nbsp; Google Play</button>
                </div>
            </div>
        </div>
    </main>
    <!-- 푸터부분 -->
    <th:block th:replace="fragment/footer"></th:block>
 </div>
</body>
</html>