<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Items Detail page</title>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/items-detail-page.css">
<script src="https://kit.fontawesome.com/ede2458143.js"></script>
</head>
<body>
    <main>
        <div class="main-items">
            <div>
                <img src="https://media.worksout.co.kr/uploads/live/A1224SACOT00002003/A1224SACOT00002003-1.JPG" alt="#">
            </div>
            <div class="items-information">
                    <div class="items">
                        <span class="itmes-name">AAUXX <i class="fa-solid fa-font-awesome"></i></span>
                        <p class="items-title">WORKSOUT X IRING MAX</p>
                        <p class="items-color">BLACK</p>
                        <span class="items-translation">웍스아웃 X 아이링 맥스 블랙</span>
                        <span class="items-number">A1224SACOT00002003</span>
                        <p class="items-price">28,000 원</p>
                    </div>
                    <div>
                        <button type="button" class="size-button">os</button>
                    </div>
                    <div>
                        <button type="button" class="guide-button">사이즈 가이드</button>
                    </div>
                        <button type="button"  class="info-button">상품 정보 고시</button>
                    <div>
                        <button type="button" class="select-button">사이즈를 선택해주세요</button>
                        <button type="button" class="interest-button">♡</button>
                    </div>
                    <div class="info-button-group">
                        <div class="detail-info-group">
                            <p class="detail-info-button">상세 정보</p>
                            <div><i class="fa-solid fa-angle-down"></i></div>
                            <!-- <p>억스(AAUXX)의 아이링(iRing)은 스마트 디바이스의 그립과 거치를 편리하게 해주는 디지털 액세서리 브랜드입니다. 끊임없이 테크놀로지 트렌드를 파악하고 더 편안한 디지털 라이프를 위해 고민하고 제안합니다. 아이링(iRing)은 특허 기술을 기반으로 타협하지 않는 품질의 제품을 제공하기 위해 노력합니다.</p>
                            <span>* 반드시 아이폰 12 이상 맥세이프가 탑재된 기종 또는 맥세이프 케이스와 함께 사용하세요.</span> -->
                        </div>
                        <div class="shipping-info-group">
                            <p class="shipping-info-button">배송 안내</p>
                            <div><i class="fa-solid fa-angle-down"></i></div>
                        </div>
                        <div class="return-info-group">
                            <p class="return-info-button">반품 안내</p>
                            <div><i class="fa-solid fa-angle-down"></i></div>
                            
                        </div>
                        <div class="as-info-group">
                            <p class="as-info-button">A/S 안내</p>
                            <div><i class="fa-solid fa-angle-down"></i></div>
                           
                        </div>
                        <div class="precautions-info-group">
                            <p class="precautions-info-button">세탁 및 취급 시 주의사항</p>
                            <div><i class="fa-solid fa-angle-down"></i></div>    
                        </div>
                    </div>
            </div>
    </div>
    </main>
    <article>
        <div class="recm-brandItems">
            <p>브랜드 상품</p>
            <div class="recm-brandItems-img">
                <div>
                    <img src="https://media.worksout.co.kr/resized/live/A1224SACOT00002001/A1224SACOT00002001-0.JPG" alt="">
                    <div class="recm-brandItems-info">
                        <p>AAUXX</p>
                        <p>WORKSOUT X IRING ORIGINAL</p>
                        <p>15,000원</p>
                    </div>
                </div>
                <div>
                    <img src="https://media.worksout.co.kr/resized/live/A1224SACOT00002001/A1224SACOT00002001-0.JPG" alt="">
                    <div class="recm-brandItems-info">
                        <p>AAUXX</p>
                        <p>WORKSOUT X IRING ORIGINAL</p>
                        <p>15,000원</p>
                    </div>
                </div>
                <div>
                    <img src="https://media.worksout.co.kr/resized/live/A1224SACOT00002001/A1224SACOT00002001-0.JPG" alt="">
                    <div class="recm-brandItems-info">
                        <p>AAUXX</p>
                        <p>WORKSOUT X IRING ORIGINAL</p>
                        <p>15,000원</p>
                    </div>
                </div>
                <div>
                    <img src="https://media.worksout.co.kr/resized/live/A1224SACOT00002001/A1224SACOT00002001-0.JPG" alt="">
                    <div class="recm-brandItems-info">
                        <p>AAUXX</p>
                        <p>WORKSOUT X IRING ORIGINAL</p>
                        <p>15,000원</p>
                    </div>
                </div>
                <div>
                    <img src="https://media.worksout.co.kr/resized/live/A1224SACOT00002001/A1224SACOT00002001-0.JPG" alt="">
                    <div class="recm-brandItems-info">
                        <p>AAUXX</p>
                        <p>WORKSOUT X IRING ORIGINAL</p>
                        <p>15,000원</p>
                    </div>
                </div>
            </div>
        </div>
<!--  -->
        <div class="recm-togetherItems">
            <p>함께 착용한 상품</p>
            <div class="recm-togetherItems-img">
                <div>
                    <img src="https://media.worksout.co.kr/resized/live/AC22SSTSSS00040002/AC22SSTSSS00040002-0.jpg" alt="">
                    <div class="recm-togetherItems-info">
                        <p>AAUXX</p>
                        <p>WORKSOUT X IRING ORIGINAL</p>
                        <p>15,000원</p>
                    </div>
                </div>
                <div>
                    <img src="https://media.worksout.co.kr/resized/live/AC22SSTSSS00040002/AC22SSTSSS00040002-0.jpg" alt="">
                    <div class="recm-togetherItems-info">
                        <p>AAUXX</p>
                        <p>WORKSOUT X IRING ORIGINAL</p>
                        <p>15,000원</p>
                    </div>
                </div>
                <div>
                    <img src="https://media.worksout.co.kr/resized/live/AC22SSTSSS00040002/AC22SSTSSS00040002-0.jpg" alt="">
                    <div class="recm-togetherItems-info">
                        <p>AAUXX</p>
                        <p>WORKSOUT X IRING ORIGINAL</p>
                        <p>15,000원</p>
                    </div>
                </div>
                <div>
                    <img src="https://media.worksout.co.kr/resized/live/AC22SSTSSS00040002/AC22SSTSSS00040002-0.jpg" alt="">
                    <div class="recm-togetherItems-info">
                        <p>AAUXX</p>
                        <p>WORKSOUT X IRING ORIGINAL</p>
                        <p>15,000원</p>
                    </div>
                </div>
                <div>
                    <img src="https://media.worksout.co.kr/resized/live/AC22SSTSSS00040002/AC22SSTSSS00040002-0.jpg" alt="">
                    <div class="recm-togetherItems-info">
                        <p>AAUXX</p>
                        <p>WORKSOUT X IRING ORIGINAL</p>
                        <p>15,000원</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</body>
</html>