<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/mainpage.css">
</head>
<body>
    <header>

    </header>
    <main>
        <div class="main-container">
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg1.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>POP TRADING COMPANY</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg2.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>SALOMON NEW ARRIVALS</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg3.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>OBEY MEW ARRIVALS</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg4.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>WORKSOUT X TRUST EDITORIAL</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg5.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>SUMMER ITEM GUIDE</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg6.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>VANS NEW ARRIVALS</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg7.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>Vault by Vans x Bianca Chandon</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg8.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>MAGLIANO NEW ARRIVALS</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg9.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>HOMMEGIRLS NEW ARRIVALS</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg10.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>VINTAGE SPORT SK8 HI</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg11.PNG"first-img">
                </div>
                <h1>
                    <div>
                        <p>FUNKY ACCESSORY</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg12.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>COLOR OF THE MONTH by WORKSOUT RYSE</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg13.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>NB X TOKYO DESGIN STUDIO</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg14.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>TIMBERLAND X WACKO MARIA</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg15.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>OBEY RECORDS X SCR "CHARGED UP" RECAP</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/src/main/resources/img/mainimg16.PNG" alt class="first-img">
                </div>
                <h1>
                    <div>
                        <p>WORKSOUT STAYCATION ITEM</p>
                    </div>
                </h1>
            </div>
        </div>
        <footer></footer>
        
    </main>
    
</body>
</html>