<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
 	<link rel="stylesheet" href="/static/css/style.css">   
    <link rel="stylesheet" href="/static/css/mainpage.css">
    <script type="text/javascript" src = "https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div class="main-box ">
        <!-- 헤더부분 -->
	<th:block th:replace="fragment/header"></th:block>
    
    <main>
        <div class="main-container">
            
        </div>
        
    </main>
	<!-- footer부분 -->
    <th:block th:replace="fragment/footer"></th:block>
</div>
    
    <script src="/static/js/main.js"></script>
</body>
</html>