<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
 	<link rel="stylesheet" href="/static/css/style.css">   
    <link rel="stylesheet" href="/static/css/mainpage.css">
</head>
<body>
        <!-- 헤더부분 -->
        <th:block th:replace="/fragment/header"></th:block>
    
    <main>
        <div class="main-container">
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_01.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>POP TRADING COMPANY</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_02.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>SALOMON NEW ARRIVALS</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_03.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>OBEY MEW ARRIVALS</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_04.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>WORKSOUT X TRUST EDITORIAL</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_05.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>SUMMER ITEM GUIDE</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_06.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>VANS NEW ARRIVALS</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_07.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>Vault by Vans x Bianca Chandon</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_08.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>MAGLIANO NEW ARRIVALS</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_09.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>HOMMEGIRLS NEW ARRIVALS</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_10.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>VINTAGE SPORT SK8 HI</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_11.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>FUNKY ACCESSORY</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_12.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>COLOR OF THE MONTH by WORKSOUT RYSE</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_13.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>NB X TOKYO DESGIN STUDIO</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_14.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>TIMBERLAND X WACKO MARIA</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_15.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>OBEY RECORDS X SCR "CHARGED UP" RECAP</p>
                    </div>
                </h1>
            </div>
            <div class="a">
                <div>
                    <img src="/static/image/main_images/main_16.jpg" class="first-img">
                </div>
                <h1>
                    <div>
                        <p>WORKSOUT STAYCATION ITEM</p>
                    </div>
                </h1>
            </div>
        </div>
        
    </main>
        	<!-- footer부분 -->
            <th:block th:replace="/fragment/footer"></th:block>
    
</body>
</html>