<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/signin.css">
    <script type="text/javascript" src = "https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/ede2458143.js"></script>
    <title>login</title>
</head>
<body>
<div class="main-box ">
<th:block th:replace="fragment/header"></th:block>
    <main>
        <form class="login" method="post" action="/signin">
            <h1>로그인</h1>
            <div class="login-form">
                <div class="input-id">
                    <p>아이디</p>
                    <input type="email" name="username" placeholder="이메일을 입력해주세요.">
                </div>
                <div class="input-password">
                    <p>비밀번호</p>
                    <input type="password" name="password" placeholder="비밀번호를 입력해주세요.">
                </div>
                <div class="check-user-info">
                    <div class="save-id">
                        <input type="checkbox" id="save-checkbox">
                        <label for="save-checkbox"></label>
                        <p>아이디저장</p>
                    </div>
                    <div class="found-user-info">
                        <p>아이디 찾기</p>
                        <div class="column-line"></div>
                        <p>비밀번호 변경</p>
                    </div>
                </div>
                <div class="button-group">
                    <button type="submit" class="signin-button">로그인</button>
                    <button type="button" class="signup-button">회원가입</button>
                    <p>비회원 주문조회</p>
                </div>
            </div>
        </form>
    </main>
<th:block th:replace="fragment/footer"></th:block>
</div>    
    <script src="/static/js/signin.js"></script>
</body>
</html>