<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
		<link rel="stylesheet" href="/static/css/fragment/mypage-head.css">

	<div class="my-info">
	    <table>
	        <tr>
	            <thead>
	                <td>회원 이름</td>
	                <td>회원 등급</td>
	                <td>보유 포인트</td>
	            </thead>
	            <tbody>
	                <tr>
	                    <td>박준형</td>
	                    <td>BASIC</td>
	                    <td>0P</td>
	                </tr>
	            </tbody>
	        </tr>
	    </table>
	    <p class="my-info-modify">내 정보 수정 ></p>
	</div>
</html>